<main>
  <section class="envelope">
    <header class="text--center">
      <h1 class="gamma">Sign up / Log in</h1>
    </header>
    <main>
      <%= form_for(@user) do |form| %>
        <div class="input-group">
          <%= form.label(:email, class: 'input-group__label') %>
          <%= form.text_field(:email, class: 'input-group__field', placeholder: 'e.g. me@epfl.ch') %>
        </div>
        <div class="prompt">
          <%= form.submit('Log in', class: 'btn btn--primary prompt__confirm') %>
        </div>
      <% end %>
    </main>
  </section>
</main>
