<main>
  <section class="envelope">
    <header class="text--center">
      <h1 class="gamma">Sign up / Log in</h1>
    </header>
    <main>
      <form action="#no-action" method="post">
        <div class="input-group">
          <label class="input-group__label" for="email">Email address</label>
          <input id="email" class="input-group__field" type="email" name="email" placeholder="e.g. me@epfl.ch">
        </div>
        <div class="prompt">
          <button class="btn btn--primary prompt__confirm" type="button">Log in</button>
        </div>
      </form>
    </main>
  </section>
</main>
