<main>
  <div class="masthead">
    <div class="content-wrapper">
      <h1>Deciding what to read next? Create your own book list and share with friends.</h1>
      <form method="get" action=" ">
        <div class="input-inline">
          <label class="input-group__label" for="banner-search-input">Search books by title or author name</label>
          <div class="input-row">
            <input id="banner-search-input" class="input-row__field" type="text" name="search" placeholder="e.g. Ernest Hemingway">
            <button class="btn btn--inline" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="content-wrapper">
    <h2>Some reviews</h2>
    <ul class="bare-list float-grid css-grid">
      <% @reviews.each do |review| %>
        <li>
          <%= render(partial: 'review_card',
                    locals: { card_title: review.book_title,
                              author: review.author,
                              body: review.body,
                              image_url: review.image_url,
                              review: review }) %>
        </li>
      <% end %>
    </ul>

  <div class="see-more">
    <button class="btn" type="button" data-more="true">See more</button>
  </div>
</main>
