<main>
  <div class="content-wrapper">
    <div class="page-header">
      <h1>My Reviews</h1>
      <%= link_to('Create Review', reviews_new_path, class: 'btn') %>
    </div>
  </div>
  <div class="content-wrapper">
    <ul class="bare-list float-grid css-grid">
      <% @reviews.each do |review| %>
        <li>
          <%= render(partial: 'editable_review_card', locals: { book_title: review.book_title, body: review.body, author: review.author }) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="see-more">
    <button class="btn" type="button" data-more="true">See more</button>
  </div>
</main>
