/* ==========================================================================
   NAVIGATION
   ========================================================================== */


/* Main navigation
   ========================================================================== */


/*ul*/

.main-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-navigation li {
    display: inline-block;
}

.main-navigation a {
    color: #192127;
    display: inline-block;
    padding: 1.3rem 0.75rem;
}


/* Subnavigation
   ========================================================================== */


/*ul*/

.sub-navigation {
    list-style-type: none;
    padding: 0;
    margin: 0 0 3.2rem;
    border-bottom: 1px solid #e3e5e9;
}

.sub-navigation li {
    display: inline-block;
}

.sub-navigation a {
    display: inline-block;
    padding: 1.6rem 0.8rem;
    border-bottom: 2px solid #fff;
}

.sub-navigation a.current,
.sub-navigation a:focus,
.sub-navigation a:hover {
    border-bottom-color: #192127;
    color: #192127;
    text-decoration: none;
}
